<header>
  <div class="header__logo">
    <img class="img-responsive center-block" src="dist/assets/img/logo.png" alt="logo">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h2 class="header__description">Offrez-vous du plaisir !</h2>
      </div>

      <div class="col-md-2 col-md-offset-2">
        <button type="button" id="log" class="btn btn-info btn-member text-uppercase hidden-xs"
          data-toggle="collapse" data-target="#login">
          Déjà membre ?
        </button>

        <div id="login" class="collapse">
          <script type="text/javascript" src="http://promo.erotilink.com/tool-login-form/javascript?site_id=600092&amp;chIds[]=2&amp;style_id=8083&amp;legend=0&amp;labels=0"></script>
        </div>
      </div>
    </div>
  </div>
</header>