<div class="step-2 hidden">
  <div class="row">
    <div class="col-md-6">
      <img class="img-thumbnail center-block js-user-picture" width="364" alt="Photo">
    </div>

    <div class="col-md-6 text-center">
      <h1 class="user__name">
        <span class="js-user-name"></span>,
        <small> <span class="js-user-age"></span> ans</small>
      </h1>
      <h2>Lui proposer un Rendez-vous</h2>

      <form class="form-horizontal">
          <div class="form-group form-group-lg">
            <div class="col-sm-7">
              <label class="control-label btn-block">Jour souhaité :</label>
            </div>
            <div class="col-sm-5">
              <input type="text" class="form-control text-center" placeholder="15/02/16">
            </div>
          </div>

          <div class="form-group form-group-lg">
            <div class="col-sm-7">
              <label class="control-label btn-block">Heure souhaitée :</label>
            </div>
            <div class="col-sm-5">
              <input type="text" class="form-control text-center" placeholder="18h">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-success btn-lg btn-block text-uppercase">Envoyer</button>
            </div>
          </div>
      </form>
    </div>
  </div>

  <div class="row hidden-xs">
    <div class="col-md-4">
      <span class="step">Choisir une femme disponible</span>
    </div>
    <div class="col-md-4">
      <span class="step">Lui proposer un rdv</span>
    </div>
    <div class="col-md-4">
      <span class="step">Flirter !</span>
    </div>
  </div>
</div>