<div class="step-3 hidden">
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
    <h3 class="text-center visible-xs">
      <span class="glyphicon glyphicon-ok text-success"></span>
       Rendez-vous en attente
    </h3>

      <img class="img-thumbnail center-block js-user-picture" width="364" alt="Photo">

      <h1 class="user__name text-center">
        <span class="js-user-name"></span>,
        <small> <span class="js-user-age"></span> ans</small>
      </h1>

      <a class="btn btn-success btn-lg btn-block text-uppercase visible-xs"
        href="http://rencontre.erotilink.com/f/public/registration?tr4ck=erotilink"
        role="button">
        Finaliser la demande
      </a>
    </div>

    <div class="col-md-5 col-md-offset-1">
      <form class="form-horizontal hidden-xs js-form-step-3">
          <div class="form-group">
            <legend class="text-center">Finaliser votre demande</legend>
          </div>

          <div class="form-group form-group-lg">
            <div class="col-sm-4">
              <label class="control-label btn-block text-uppercase">Je suis</label>
            </div>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Un homme">
            </div>
          </div>

          <div class="form-group form-group-lg">
            <div class="col-sm-4">
              <label class="control-label btn-block text-uppercase">Je recherche</label>
            </div>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Une femme">
            </div>
          </div>

          <div class="form-group form-group-lg">
            <div class="col-sm-4">
              <label class="control-label btn-block text-uppercase">Ne(e) le</label>
            </div>
            <div class="col-sm-8 form-control-date">
              <input type="text" class="form-control form-control-day text-center" placeholder="jj">
              <input type="text" class="form-control form-control-month text-center" placeholder="mm">
              <input type="text" class="form-control form-control-year text-center" placeholder="aaaa">
            </div>
          </div>

          <div class="form-group form-group-lg">
            <div class="col-sm-4">
              <label class="control-label btn-block text-uppercase">Email</label>
            </div>
            <div class="col-sm-8">
              <input type="email" class="form-control" placeholder="Information confidentielle">
            </div>
          </div>

          <div class="form-group form-group-lg">
            <div class="col-sm-4">
              <label class="control-label btn-block text-uppercase">Pseudo</label>
            </div>
            <div class="col-sm-8">
              <input type="text" class="form-control">
            </div>
          </div>

          <div class="form-group form-group-lg">
            <div class="col-sm-12">
              <label>
                <input type="checkbox">
                 Je suis majeur(e) et j’accepte les <a href="#">CGU</a> et la <a href="#">politique de vie privée</a>
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-success btn-lg btn-block text-uppercase">Valider</button>

              <small class="help-block text-justify">
                <small>
                  Les données collectées au cours de votre inscription sont destinées à la société 2L Multimédia, responsable du traitement ainsi qu'à ses partenaires.Elles sont destinées à vous proposer des rencontres en adéquation avec votre personnalité.Vous avez le droit de nous interroger, de rectifier, compléter, mettre à jour, verrouiller ou supprimer les données vous concernant, de vous opposer à leur traitement ou à leur utilisation à des fins de prospection commerciale à l'adresse mentionnée dans les CGU.
                </small>
              </small>
            </div>
          </div>
      </form>
    </div> <!-- end .col-md-6 -->
  </div> <!-- end .row -->

  <div id="carousel-thumbnails" class="carousel slide margin-bottom-lg hidden-xs" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <div class="row">
          {% for user in users %}
            <!-- Remplissage de 6 vignettes par slide -->
            {% if loop.index0 && loop.index0 % 6 == 0 %}
              </div> <!-- end .row -->
              </div> <!-- end .item -->

              <div class="item">
                <div class="row">
            {% endif %}

            <div class="col-md-2">
              <!-- <img class="img-thumbnail center-block" src="dist/assets/img/photos/{{ user.picture }}" width="170" alt="Photo"> -->
              <img class="img-thumbnail img-thumbnail-xs center-block" src="http://placehold.it/170x170" width="170" alt="Photo">
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div> <!-- end .step-3 -->