.carousel {
  margin-top: ($line-height-computed * 2);
}

.carousel-caption {
  position: inherit;
}

.user__name {
  font-size: 5.5em;

  > small {
    color: $text-color;
  }
}

.carousel-control {
  bottom: 0;
  /* Soustraire la hauteur de .carousel-caption qui n'est plus positionnée en absolue */
  height: calc(100% - 164.7px);
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
