$gutter: 3px;

.form-horizontal [class^="col-"] {
  @media (min-width: $screen-sm-min) {
    padding-left: 0;
    padding-right: 0;
  }
}

.form-horizontal .control-label {
  text-align: center;
  background-color: $brand-danger;
}

.form-group-lg .control-label {
  height: $input-height-large;
}

.form-control-date {
  display: flex;

  .form-control {
    width: 30%;
  }

  .form-control-month {
    margin: 0 $gutter;
  }

  .form-control-year {
    flex-grow: 2;
  }
}

.form-group {
  margin-bottom: $gutter;
}

legend {
  margin-bottom: $gutter;
  padding: 7px 0;
  border-bottom: 0;
  background-color: $brand-danger;
  text-transform: uppercase;
  font-size: 27px;
}
